@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-thinitalic-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-thin-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-extrathinitalic-webfont.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-extrathin-webfont.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-lightitalic-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Averta Std';
    src:url('~@/assets/fonts/averta/averta-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;


}

@font-face {
    font-family: 'avertaregular_italic';
    src: url('~@/assets/fonts/averta/averta-regularitalic-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-standard-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-semibolditalic-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-standard-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Averta Std';
    src:url('~@/assets/fonts/averta/averta-bolditalic-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-standard-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-extrabolditalic-webfont.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-extrabold-webfont.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Averta Std';
    src: url('~@/assets/fonts/averta/averta-blackitalic-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'v';
    src: url('~@/assets/fonts/averta/averta-black-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;

}