@font-face {
    font-family: 'Okta Neue';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-Thin.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-ThinItalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-UltraLight.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-UltraLightItalic.woff2') format('woff2')
}

// @font-face {
//     font-family: 'Okta Neue Extra Light';
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//     src: url('~@/assets/fonts/okta/OktaNeue-ExtraLight.woff2') format('woff2')
// }

// @font-face {
//     font-family: 'Okta Neue Extra Light Italic';
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
//     src: url('~@/assets/fonts/okta/OktaNeue-ExtraLightItalic.woff2') format('woff2')
// }

@font-face {
    font-family: 'Okta Neue';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-Light.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-LightItalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-Normal.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-NormalItalic.woff2') format('woff2')
}

// @font-face {
//     font-family: 'Okta Neue';
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
//     src: url('~@/assets/fonts/okta/OktaNeue-Regular.woff2') format('woff2')
// }

// @font-face {
//     font-family: 'Okta Neue';
//     font-weight: 400;
//     font-style: italic;
//     font-display: swap;
//     src: url('~@/assets/fonts/okta/OktaNeue-RegularItalic.woff2') format('woff2')
// }

@font-face {
    font-family: 'Okta Neue';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-MediumItalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-SemiBold.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-SemiBoldItalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-BoldItalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-Black.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 800;
    font-style: italic;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-BlackItalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-Heavy.woff2') format('woff2')
}

@font-face {
    font-family: 'Okta Neue';
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src: url('~@/assets/fonts/okta/OktaNeue-HeavyItalic.woff2') format('woff2')
}