$medium-blue: #439EFA;
$light-gray: #F1F2F6;
$dark-blue: #2C3E50;


$header-height: 8rem;
$header-height-mobile: 6rem;
$side-menu-width: 25rem;

$mobile: 'max-width: 767px';
$smaller-desktop: 'min-width: 769px) and (max-width: 1000px';
$small-desktop: 'min-width: 1000px) and (max-width: 1100px';
$desktop: 'min-width: 1100px';